trigger:
- main

pool:
  name: LocalHrmsAgent

variables:
  buildConfiguration: 'Release'

steps:
- checkout: self

- script: |
    echo ===== CURRENT DIRECTORY =====
    cd
    echo ===== FILES =====
    dir
  displayName: 'Show Files In Agent'

- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: 'restore'
    projects: '**/*.csproj'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'