trigger:
- main

pool:
  name: LocalHrmsAgent

variables:
  buildConfiguration: 'Release'

steps:
- checkout: self

# Restore
- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore
    projects: '**/ZetaSaasHRMSBackend.csproj'

# Build
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '**/ZetaSaasHRMSBackend.csproj'
    arguments: '--configuration $(buildConfiguration)'

# Publish
- task: DotNetCoreCLI@2
  displayName: Publish
  inputs:
    command: publish
    projects: '**/ZetaSaasHRMSBackend.csproj'
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: true

# Deploy to Azure App Service
- task: AzureWebApp@1
  displayName: Deploy to Azure App Service
  inputs:
    azureSubscription: 'AzureServiceConnection'
    appType: 'webApp'
    appName: 'zeta-hrms-api'
    package: '$(Build.ArtifactStagingDirectory)/**/*.zip'